Installing required libraries

In [ ]:
pip install pyresparser

In [ ]:
pip install python-docx

In [ ]:
pip install ftfy

In [ ]:
import nltk
nltk.download('stopwords')

In [ ]:
from pyresparser import ResumeParser
import os
from docx import Document

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#ImgCaption = open('/content/drive/My Drive/image_caption_generator/image_text/token.txt', 'r')

Importing dataset from drive

In [ ]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
stopw  = set(stopwords.words('english'))
df =pd.read_csv('/content/drive/My Drive/image_caption_generator/resume_dataset.csv')
stopw

In [ ]:
def cleanResume(resumeText):
    resumeText = re.sub('httpS+s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^x00-x7f]',r' ', resumeText) 
    resumeText = re.sub('s+', ' ', resumeText)  # remove extra whitespace
    return resumeText

In [ ]:
df['Cleaned']=df['Resume'].apply(lambda x:cleanResume(x).join([word for word in str(x).split() if len(word)>2 and word not in (stopw)]))
df['Cleaned']

0      SkillsSkill    Programming Language   P thon  ...
1      EducationEducation Detail    Ma  2013 to Ma  2...
2      AreasArea  of Intere t Deep Learning  Control ...
3      SkillsSkill      R     P thon     SAP HANA    ...
4      EducationEducation Detail     MCA   YMCAUST   ...
                             ...
957    ComputerComputer Skill       Proficient in MS ...
958    â    Willingne  to a ept the challenge      ...
959    PERSONALPERSONAL SKILLS     Quick learner     ...
960    COMPUTERCOMPUTER SKILLS   SOFTWARE KNOWLEDGE M...
961    SkillSkill Set OS Window  XP 7 8 8 1 10 Databa...
Name: Cleaned, Length: 962, dtype: object

In [ ]:
df

,Category,Resume,test,Cleaned
0,Data Science,Skills * Programming Languages: Python (pandas...,SkillsSkill Programming Language P thon ...,SkillsSkill Programming Language P thon ...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,EducationEducation Detail Ma 2013 to Ma 2...,EducationEducation Detail Ma 2013 to Ma 2...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",AreasArea of Intere t Deep Learning Control ...,AreasArea of Intere t Deep Learning Control ...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,SkillsSkill R P thon SAP HANA ...,SkillsSkill R P thon SAP HANA ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",EducationEducation Detail MCA YMCAUST ...,EducationEducation Detail MCA YMCAUST ...
...,...,...,...,...
957,Testing,Computer Skills: â¢ Proficient in MS office (...,ComputerComputer Skill Proficient in MS ...,ComputerComputer Skill Proficient in MS ...
958,Testing,â Willingness to accept the challenges. â ...,â Willingne to a ept the challenge ...,â Willingne to a ept the challenge ...
959,Testing,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...",PERSONALPERSONAL SKILLS Quick learner ...,PERSONALPERSONAL SKILLS Quick learner ...
960,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,COMPUTERCOMPUTER SKILLS SOFTWARE KNOWLEDGE M...,COMPUTERCOMPUTER SKILLS SOFTWARE KNOWLEDGE M...
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,SkillSkill Set OS Window XP 7 8 8 1 10 Databa...,SkillSkill Set OS Window XP 7 8 8 1 10 Databa...

In [ ]:
##file format should be in .txt , .docx or .pdf only
filed=input('specify the path of the resume (format(.txt, .docx and .pdf))==')

try:
    doc = Document()
    with open(filed, 'r') as file:
        doc.add_paragraph(file.read())
    doc.save("text.docx")
    data1 = ResumeParser('text.docx').get_extracted_data()

except:
    data1 = ResumeParser(filed).get_extracted_data()
    
resume=data1['skills']

specify the path of the resume (format(.txt, .docx and .pdf))==Varsha.pdf

In [ ]:
print(resume)

['C', 'Website', 'Sap', 'Programming', 'C++', 'Technical', 'Cloud', 'English', 'Sql', 'Database', 'Ui', 'System', 'Python', 'Aws']

In [ ]:
data1  #showing what the pyreparsar has parsed from the resume

{'college_name': None,
 'company_names': None,
 'degree': None,
 'designation': ['Team Leader', 'Student Coordinator'],
 'email': 'varshaolkha777@gmail.com',
 'experience': None,
 'mobile_number': '8360489853',
 'name': 'Varsha Kumari',
 'no_of_pages': 1,
 'skills': ['Database',
  'Python',
  'English',
  'Technical',
  'C++',
  'Programming',
  'Cloud',
  'Ui',
  'System',
  'Sap',
  'Aws',
  'Sql',
  'Website',
  'C'],
 'total_experience': 0}

In [ ]:
skills=[]
skills.append(' '.join(word for word in resume))

In [ ]:
skills

['C Website Sap Programming C++ Technical Cloud English Sql Database Ui System Python Aws']

In [ ]:
import re

from ftfy import fix_text

def ngrams(string, n=3):
    string = fix_text(string) # fix text
    string = string.encode("ascii", errors="ignore").decode() #remove non ascii chars
    string = string.lower()
    chars_to_remove = [")","(",".","|","[","]","{","}","'"]
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']'
    string = re.sub(rx, '', string)
    string = string.replace('&', 'and')
    string = string.replace(',', ' ')
    string = string.replace('-', ' ')
    string = string.title() # normalise case - capital at start of each word
    string = re.sub(' +',' ',string).strip() # get rid of multiple spaces and replace with a single
    string = ' '+ string +' ' # pad names for ngrams...
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [ ]:
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams, lowercase=False)
tfidf = vectorizer.fit_transform(skills)
#print(vectorizer.get_feature_names())
print(tfidf)
print(skills)

In [ ]:
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=1, n_jobs=-1).fit(tfidf)
test = (df['test'].values.astype('U'))

In [ ]:

def getNearestN(query):
  queryTFIDF_ = vectorizer.transform(query)
  distances, indices = nbrs.kneighbors(queryTFIDF_)
  return distances, indices

In [ ]:
distances, indices = getNearestN(test)
test = list(test) 
matches = []

In [ ]:
for i,j in enumerate(indices):
    dist=round(distances[i][0],2)
  
    temp = [dist]
    matches.append(temp)
    
matches = pd.DataFrame(matches, columns=['Match confidence'])

In [ ]:
df['match']=matches['Match confidence']
df1=df.sort_values('match')
#df1[['Position', 'Company','Location']].head(10).reset_index()
df1[['Category']].head(20).reset_index()